* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 1rem;
    text-align: center;
    line-height: 2.5rem;
}

form span {
    font-size: 14px;
    font-weight: 600;
}

input,
button {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    border-radius: 3px;
    transition: all 0.15s ease;
}

input {
    outline: none;
    padding: 0.5em 0 0.5em 0.8em;
    text-align: center;
}

button {
    padding: 0.5em 0.8em;
    cursor: pointer;
}

button:hover,
input:hover {
    scale: 1.08;
    box-shadow: 0 0 5px rgba(0 0 0 / 0.5);
}

button:active,
input:active,
form:has(input:active) span {
    font-size: 1.1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 50%;
    max-width: 400px;
    aspect-ratio: 1/1;
    box-shadow: 0 0 15px 5px rgba(0 0 0 / 0.5);
    outline: 1px solid aliceblue;
    transition: all 0.5s ease;
    touch-action: none;
}

.container .item {
    cursor: pointer;
    flex: 0 0 calc(100% / var(--columns));
    aspect-ratio: 1/1;
    outline: 0.5px solid black;
    background-color: aliceblue;
    margin: 0;
    transition: background-color 0.1s ease;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    form {
        margin-top: 3rem;
    }
    
    form h2{
        margin: 2rem 0
    }

    form span {
        font-size: 1rem;
        font-weight: 600;
    }

    input,
    button {
        font-size: 1rem;
        padding: 0.8em 1em;
    }
}